<nav class="nav-link">
  <ul class="mx-5 flex  justify-center [&>li>a]:px-2 [&>li>a:hover]:bg-slate-700 [&>li>a:hover]:rounded-sm">
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/blog">Blog</a></li>
  </ul>
</nav>
